*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#dashboard{
    margin-left: 10%;
}
#nam{
    display: inline;
}
#tit{
    display: inline;
}
#ema{
    display: inline;
}
#pnum{
    display: inline;
}
#upl{
    display: inline;
}

#dashboard p{
    font-size: 20px;
}
#form{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 1%; */
}
#details{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#errormessage{
    /* text-align: center; */
    margin-left: 46.5%;
    /* margin-top: 7%; */
   
}
#name{
    width: 100%;
    height: 35px;
    border-radius: 10px;
    /* border: 2px solid white; */
}
#title{
    width: 100%;
    height: 35px;
    border-radius: 10px;
    /* border: 2px solid white; */
}
#email{
    width: 100%;
    height: 35px;
    border-radius: 10px;
    /* border: 2px solid white; */
}
#pnumber{
    width: 100%;
    height: 35px;
    border-radius: 10px;
    /* border: 2px solid white; */
}
#submit{
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

@media(max-width: 1000px){
    body{
        width: 100%;
    }
    #dashboard{
        width: auto;
        
    }
    #dashboard h2{
        font-size: 25px;
    }
    /* #dashboard p{
        font-size: 10px;
    } */
    #form{
        width: 100%;
        margin: 0;
    }
    #details{
        width: auto;
    }
    #details input{
        height: auto;
        width: 75%;
    }
    #details #submit{
        display: block;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;

    }
    #details #upload{
        width: 60%;
    }
   
}